body {
  min-height: 100vh;
  min-width: 100vw;
  /*IMPORTANTE*/
  /* display: flex; */
  justify-content: center;
  align-items: center;
  background-color:#ffffff;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
audio{display: none;}
.adookia{
  display: block;
  position: absolute;
  top: 100px;
  right: 0;
  z-index: 9999;
}
.imgLogo{
  height: 50px;
  margin: 0 auto;
  display: block;
}
.centrar{
  margin: 0 auto;
  width: 200px;
}